{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
{% include 'quote/message.html.twig' %}
	<div class="row">
		{% for quote in quotes %}
			<div class="col-sm-12">
				<div class="card card__beers">
					<div class="card-body">
						<form method="post" action="{{ path('quote_delete', {'id': quote.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quote.id) }}">
							<button class="btn btn-danger">Delete</button>
						</form>
						<h2 class="medium">{{quote.title}}</h2>
						{{ quote.content | raw }}
						<p>Position :
							{{quote.position}}</p>
						<p>Created :
							{{quote.createdAt | date('d-m-Y h:m:s')}}</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
