{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="row">
<ul>
<p>Avergae beer conso: {{ avg | round(2) }}, std: {{ std | round(2) }} </p>
<p>Min conso: {{ min }} Max conso: {{ max}} </p>
<p>Total beer(s): {{ total_beer }} Total client: {{ total_client}} </p>
{% for client in clients %}
  <li>Name : {{client.name}}</li>
  <ul>
    <li>Nb beer(s) : {{client.numberBeer}} average : {{ ( ( client.numberBeer / total_client) ) * 20 | round(2) }} </li>
    {% if client.statistics %}
      <ul>
        {% for stat in client.statistics %}
          {% if stat.beer is defined  %}
            <li>Beer Name : {{ stat.beer.name }} score : {{ stat.score }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  </ul>
{% endfor %}
</ul>
</div>
{% endblock %}
