{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="row">
  <div class="col-sm-12">
    <h1>{{ title }}</h1>
  </div>
</div>
<div class="row">
{% for beer in beers %}
  <div class="col-sm-6">
    <div class="card card__beers">
      <div class="card-body">
        <h5 class="card-title">
         <a href="{{ path('beer', { id : beer.id }) }}">
            {{ beer.name }}
          </a>
        </h5>
        <p>{{ beer.description }}</p>
        <img src="{{ asset('build/images/beer_00.jpg') }}" />
        {{ recommended.is(beer.id)  ?? 'no recommanded' }}
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}
