{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="row">
{% if beer %}
  <div class="col-sm-12">
    <div class="card card__beers">
      <div class="card-body">
        <h5 class="card-title">
          <a href="{{ path('beer', { id : beer.id }) }}">
            {{ beer.name }}
          </a>
        </h5>
        <p>{{ beer.description }}</p>
        <p>Price:{{ beer.price ?? 'no price' }}</p>
        <p>Degree:{{ beer.degree ?? 'no degree' }}</p>
        <img src="{{ asset('build/images/beer_00.jpg') }}" />
        {% if beer.country %}
         <p>Country: {{ beer.country.name }}</p>
        {% endif %}
        {% if specials %}
          <ul>
            <li>Catégorie(s) Speciale(s)</li>
          {% for category in specials %}
            <li>{{ category.name }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
</div>
{% endblock %}
